<div class="wrapper">
    <div class="contentBox">
        <h2>{{content.title}}</h2>
        <div class="content">
            <div class="text" [innerHTML]="content.text"></div>
            <iframe 
                *ngIf="content.video"
                class="video"
                [src]="content.video | safe"
            >
            </iframe>

            <audio 
                *ngIf="content.audio"
                class="content" controls 
                [src]="content.audio | safe"
                type="audio/mpeg"
            >
            </audio>
        </div>
    </div>
</div>
