.text {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 60vh;
    flex-grow: 1;
}

.audioPlayer {
    width: 100%;
}

.btn {
    border-radius: 2px;
    padding: .25rem;
    margin-top: 5px;
    background-color: white;
    color: grey;
    margin-bottom: 4rem;
}

.btn:hover {
    text-decoration: underline;
    color: tan;
}

@media (max-width: 800px) {
    .content {
        flex-direction: column;
        height: 60vh;
    }

    .content .video {
        margin: 1rem 0;
        width: 100%;
    }
} 

