.text {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-grow: 1;
}

.expandable {
    max-height: 60vh;
}

.audioPlayer {
    width: 100%;
}

.heading {
    padding-bottom: 1rem;
}

.btn {
    border-radius: 2px;
    padding: .25rem;
    margin-top: 5px;
    background-color: white;
    color: grey;
    margin-bottom: 4rem;
}

.btn:hover {
    text-decoration: underline;
    color: tan;
}

