<h1>The Manifesto</h1>
<div>
  This website is an experiment. Specifically, I hope it gives me a chance to communicate with you, dear reader, without battling a recommendation algorithm for your attention. I don't think that's good for either of us all the time albeit there are some pretty useful parts of the collective gramtweetbook.<br> <br>

  Therefore, this site has no click metrics, no comments, and no like buttons. I elected to try this format for a couple reasons: First, I wanted to make my own website from scratch for fun. Second, I wanted a place where I could share stuff without seeing how many likes it did or did not get. Don't get me wrong, I still have social media for more "official" releases -- I'm not really beating the system. Mainly, I want to see what happens with this less distracted format and figure out if it's sustainable. Keeping all this in mind, it's pretty impressive that you are reading this and have found my message-in-a-bottle floating in an ever expanding sea of content. There is plenty of good stuff you could be checking out but you happen to be here so that's pretty neat. <br><br>

  Overall, I'm glad you're here and if one of my "pieces" connects with you or you just want to say hi, feel free to shoot me an email at <b>virginiaboymusic@gmail.com</b>. I hope to hear from you :) <br> <br>
</div>
