<h1>The Manifesto</h1>
<div>
  This website is an experiment. Selfishly, I hope it gives me a chance to communicate with you without battling a recommendation algorithm for your attention. I don't think that's good for either of us over the long haul.<br> <br>

  This site has no comments, no like buttons, and there's no bot tracking how long you spent on a certain page. This format was elected for a couple reasons: First, I wanted to make my own website from scratch for fun. Second, I wanted a place where I could share stuff without seeing how many likes it did, or more crucially, did not get. Don't get me wrong, I still have social media for more "official" releases (I'm not really beating the system) but I'm excited to see what may happen in this simplified format. <br> <br>
  
  All this in mind, it's pretty impressive that you are reading this and have found my message-in-a-bottle floating in an ever expanding sea of content. Which is to say: I'm glad you are here. If you want to say hi, feel free to shoot me an email at <b>virginiaboymusic@gmail.com</b>. I hope to hear from you :) <br> <br>
</div>
