<div class="pancakes">
  <h2>BobbyCakes</h2>
  <div>A Saturday Tradition</div><br>
  <p>
    <strong>Philosophy:</strong>
    A BobbyCake pancake should be delicious plain. Until it is fully delicious in its primal state it is not worthy. Masking poor pancakes with toppings is the game of charlotteans. Furthermore, a BobbyCake pancake should be fluffy and hearty - ½” or more - yet never dense. They must be cooked slower than fleeting supermarket pancakes to insure the fluff. Finally, the Shelton pancake is an artifact of the moment in which it is made - each batter is different and must be appreciated in the moment.  
  </p>
  <strong>Recipe per 1 cup dry mix:</strong>
  <ul>
    <li>1 cup milk (Almond, Oat, or whatever hippies are using these days are great substitutes! I swear to God if you use water though...)</li>
    <li>1 egg</li>
    <li>2 tbls oil (vegetable, coconut, etc.) </li>
  </ul>
  <p>
    <strong>Directions:</strong>
    Add eggs, milk, and oil to dry mix - that simple. Next, whisk batter together until just combined (don't stir too much). The batter should be just a little lumpy, a good rule of thumb is to shoot for batter that is just slightly thicker than you feel it should be but no more. A little girth is essential for fluff... so have faith! 
  </p>
  <p>
    <strong>Coking:</strong>
    cook pancakes at medium to medium-high heat on a buttered non-stick pan until the edges curl or bubbles develop. If the pancake batter sizzles loudly upon impact with the pan, the pan is most likely too hot and will lead to less fluffy pancakes (brown outside raw inside). The perfect temp pan will cause a faint sizzle on impact and give the pancakes time to fluff but not take forever to cook. 
  </p>
</div>

