.form {
  padding: 1rem;
}

.form .inputDiv {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 0.25rem 0;
}

.formHeader {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.formHeader img {
  max-width: 100%;
}

.submitBtn {
  float: right;
  margin-bottom: 1rem;
}

.textAlert {
  color: red;
}