<button type="button" class="close" aria-label="Close" (click)="activeComponent.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
<form (submit)="handleForm($event, formGroup.value)" class="form">
  <div class="formHeader">
    <h1>{{product.name}}</h1>
    <img src="{{product.image}}">
  </div>
  
  <p>Price: ${{product.amount/100}}</p>

  <div *ngIf="product.isShirt" [formGroup]="formGroup" class="inputDiv">
    <label for="shirt_size">Shirt Size:</label>
    <select id="shirt_size" name="shirt_sizes">
      <option value="S">S</option>
      <option value="M">M</option>
      <option value="L">L</option>
      <option value="XL">XL</option>
    </select>
  </div>
  <br>

  <h2>Shipping Information</h2>
  <div>Can only ship to the US! Email me and we'll work something out if in a different country.</div>
  <br>

  <div [formGroup]="formGroup" class="inputDiv">
    <label for="name">name</label>
    <input 
      type="text"
      id="name"
      placeholder="Bobby Shelto"
      formControlName="name"
    >
  </div>

  <div [formGroup]="formGroup" class="inputDiv">
    <label for="name">email</label>
    <input 
      type="text"
      id="email"
      placeholder="virginiaboymusic@gmail.com"
      formControlName="email"
    >
  </div>

  <div [formGroup]="formGroup" class="inputDiv">
    <label for="name">address</label>
    <input 
      type="text"
      id="name"
      placeholder="185 Berry Street Suite 550"
      formControlName="address"
    >
  </div>

  <div [formGroup]="formGroup" class="inputDiv">
    <label for="name">city</label>
    <input 
      type="text"
      id="city"
      placeholder="San Francisco"
      formControlName="city"
    >
  </div>

  <div [formGroup]="formGroup" class="inputDiv">
    <label for="name">state</label>
    <input 
      type="text"
      id="state"
      placeholder="CA"
      formControlName="state"
    >
  </div>

  <div [formGroup]="formGroup" class="inputDiv">
    <label for="name">zip</label>
    <input 
      type="text"
      id="zip"
      placeholder="94107"
      formControlName="zip"
    >
  </div>
  <br>
  <h2>Card Information</h2>
  <div #cardElement></div>
  <p>{{cardErrors}}</p>
  <br>
  <button class="submitBtn" type="submit">Submit!</button>
  <p>{{confirmation}}</p>
</form>