<button type="button" class="close" aria-label="Close" (click)="activeComponent.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
<form 
  (submit)="handleForm($event, formGroup.value)" 
  class="form"
  #formDir="ngForm"
>
  <div class="formHeader">
    <div>
      <h1>{{product.name}}</h1>
      <span>Price: ${{product.amount/100}}</span>
    </div>
    
    <img src="{{product.image}}">
  </div>

  <br>

  <p *ngIf="!isVenmo">
    No card? <a class="toggle" (click)="togglePayment()">[ pay with venmo ]</a> <br>
  </p>

  <p *ngIf="isVenmo">
    No venmo? <a class="toggle" (click)="togglePayment()">[ pay with card ]</a>
  </p>

  <h2>Shipping Information</h2>
  <div>Can only ship to the US! Email me and we'll work something out if in a different country.</div>
  <br>

  <div [formGroup]="formGroup" class="inputDiv">
    <label for="name">name</label>
    <input 
      type="text"
      id="name"
      placeholder="Bobby Shelto"
      formControlName="name"
      class="form-control"
      required
    >
    <div 
      *ngIf="name.invalid && (name.dirty || name.touched)"
    >
      <div *ngIf="name.errors.required" class="textAlert">*required</div>
    </div>
  </div>

  

  <div [formGroup]="formGroup" class="inputDiv">
    <label for="email">email</label>
    <input 
      type="text"
      id="email"
      placeholder="virginiaboymusic@gmail.com"
      formControlName="email"
      class="form-control"
    >
    <div 
      *ngIf="email.invalid && (email.dirty || email.touched)"
    >
      <div *ngIf="email.errors.required" class="textAlert">*required</div>
    </div>
  </div>

  <div [formGroup]="formGroup" class="inputDiv">
    <label for="address">address</label>
    <input 
      type="text"
      id="address"
      placeholder="185 Berry Street Suite 550"
      formControlName="address"
      class="form-control"
    >
    <div 
      *ngIf="address.invalid && (address.dirty || address.touched)"
    >
      <div *ngIf="address.errors.required" class="textAlert">*required</div>
    </div>
  </div>

  <div [formGroup]="formGroup" class="inputDiv">
    <label for="city">city</label>
    <input 
      type="text"
      id="city"
      placeholder="San Francisco"
      formControlName="city"
      class="form-control"
    >
    <div 
      *ngIf="city.invalid && (city.dirty || city.touched)"
    >
      <div *ngIf="city.errors.required" class="textAlert">*required</div>
    </div>
  </div>

  <div [formGroup]="formGroup" class="inputDiv">
    <label for="state">state</label>
    <input 
      type="text"
      id="state"
      placeholder="CA"
      formControlName="state"
      class="form-control"
    >
    <div 
      *ngIf="state.invalid && (state.dirty || state.touched)"
    >
      <div *ngIf="state.errors.required" class="textAlert">*required</div>
    </div>
  </div>

  <div [formGroup]="formGroup" class="inputDiv">
    <label for="zip">zip</label>
    <input 
      type="text"
      id="zip"
      placeholder="94107"
      formControlName="zip"
      class="form-control"
    >
    <div 
      *ngIf="zip.invalid && (zip.dirty || zip.touched)"
    >
      <div *ngIf="zip.errors.required" class="textAlert">*required</div>
    </div>
  </div>

  <br>

  <div [formGroup]="formGroup" class="inputDiv" *ngIf="isVenmo">
    <label for="venmoHandle">venmo</label>
    <input 
      type="text"
      id="venmoHandle"
      placeholder="jane-smith-9"
      formControlName="venmoHandle"
      class="form-control"
    >
    <div 
      *ngIf="venmoHandle.invalid && (venmoHandle.dirty || venmoHandle.touched)"
    >
      <div *ngIf="venmoHandle.errors.required" class="textAlert">*required</div>
    </div>
  </div>

  <div [hidden]="isVenmo">
    <h2>Card Information</h2>
    <div #cardElement></div>
    <p>{{cardErrors}}</p>
  </div>
  
  <br>
  <span *ngIf="loading">Loading...</span>
  <button 
    class="submitBtn" 
    type="submit"
    *ngIf="!loading"
  >
    Submit!
  </button>
  <p>{{confirmation}}</p>
</form>