<div class="wrapper">
    <div class="contentBox bio">
        <div class="avatar">
            <img class="bioPic" src="./assets/pic.JPG">
            <div class="links">
                <a href="https://www.youtube.com/channel/UC44JsD6Vqtbf5h3kptpYTwQ?view_as=subscriber">
                    <img src="./assets/youtube.png">
                </a>
                <a href="https://open.spotify.com/artist/4iaMYGBm44pgyKT3YDGttC?si=e2yrypswSzaWc7nmA1qbEg">
                    <img src="./assets/spotify.png">
                </a>
                <a href="mailto:virginiaboymusic@gmail.com">
                    <img src="./assets/email.png">
                </a>
            </div>
        </div>
        
        <div class="bioText">
            Hello and thank you for checking out out my bio! I'm Robert. I get a lot of joy from connecting different ideas across domains and spend much of my day navel-gazing about the interconnectivity of life. "It's all one big pizza" is my current catch phrase and I'm looking forward to a future with that on a T-shirt. <br> 
            <br>
            About me: I graduated from Virginia Tech in 2020 with a degree in Industrial & Systems Engineering where I spent many meaningful hours studying/researching the efficiency of systems. In industry, I've worked in the IT consulting and software startup world as a web developer/engineering generalist. Outside of my passions for coding, mathematics, and well designed algorithms; I write songs and poems. In 2017, I put out my first album, <a href="https://open.spotify.com/artist/4iaMYGBm44pgyKT3YDGttC?si=e2yrypswSzaWc7nmA1qbEg"><i>Virginia Boy</i></a>, and am currently working on my second. With my writing, my goal is to communicate and not just express myself, and I think I'm getting better at that since when I first started. You can check out some of my work on the home page and send me an email at <a href="mailto:virginiaboymusic@gmail.com">virginiaboymusic@gmail.com</a> if you want to connect. Thanks for coming to my TED talk. 
        </div>
    </div>
</div>