<div class="wrapper">
    <div class="contentBox bio">
        <img class="bioPic" src="./assets/pic.JPG">
        <div class="links">
            <a href="https://www.youtube.com/channel/UC44JsD6Vqtbf5h3kptpYTwQ?view_as=subscriber">
                YouTube
            </a>
            <a href="https://open.spotify.com/artist/4iaMYGBm44pgyKT3YDGttC?si=e2yrypswSzaWc7nmA1qbEg">
                Spotify
            </a>
            <a href="https://www.linkedin.com/in/robert-shelton-366a40126/">
                LinkedIn
            </a>
        </div>
        <div class="bioText">
            Hi I'm Robert, you have found my website bio... what a time to be alive! I write songs, code, and think about logistics a lot. This site is where I post things I'm thinking about without worrying too much about how many likes it gets. If you want to see more of the things I do, below are links to my "content" which you can check out. And for the code-monkeys among you, this site was built with Angular on a serverless stack using AWS for deploying and stuff.
        </div>
    </div>
</div>