.bio {
    display: flex;
}

.bioText {
    padding: 0 1rem;
    margin: 1rem 0;
    grid-area: text;
}

.bioPic {
    width: 125px;
    height: 132px;
    border-radius: 20px;
    margin: 1rem;
}

.links {
    display: flex;
    justify-content: space-evenly;
}

.links img {
    width: 32px;
    height: 32px;
}

.links a {
    color: black;
    padding: 5px;
}