<div class="wrapper">
    <div class="contentBox bio">
        <div class="heading">
            <div class="avatar">
                <img class="bioPic" src="./assets/pic.JPG">
                <div class="links">
                    <a href="https://www.youtube.com/channel/UC44JsD6Vqtbf5h3kptpYTwQ?view_as=subscriber">
                        <img src="./assets/youtube.png">
                    </a>
                    <a href="https://open.spotify.com/artist/4iaMYGBm44pgyKT3YDGttC?si=e2yrypswSzaWc7nmA1qbEg">
                        <img src="./assets/spotify.png">
                    </a>
                    <a href="mailto:virginiaboymusic@gmail.com">
                        <img src="./assets/email.png">
                    </a>
                </div>
            </div>
            <div class="headingText">
                <b>Engineer who writes emotional stuff.</b> 
            </div>
        </div>
        
        <div class="bioText">
            I graduated from Virginia Tech in 2020 with a degree in Industrial & Systems Engineering where I spent many meaningful hours researching the efficiency of systems. In industry, I've worked in the IT consulting and software startup world primarily as a web developer. Outside the analytical, I write songs, poems, and rants. In 2017, I put out my first album, <a href="https://open.spotify.com/artist/4iaMYGBm44pgyKT3YDGttC?si=e2yrypswSzaWc7nmA1qbEg"><i>Virginia Boy</i></a>, and am currently working on my second. With my writing, my goal is to make space for quality dialogue (easier said). Feel free to contact me at <a href="mailto:virginiaboymusic@gmail.com">virginiaboymusic@gmail.com</a>. Thanks for checking out my bio! 
        </div>
    </div>
</div>