.heading {
    display: flex;
    align-items: center;
}

.bioPic {
    width: 125px;
    height: 132px;
    border-radius: 20px;
    margin: 1rem;
}

.links {
    margin-left: 1rem;
}

.links img {
    width: 32px;
    height: 32px;
}

.links a {
    color: black;
    padding: 5px;
}

.headingText {
    font-size: 1.75rem;
    margin: 1rem 1rem 1rem 0;
    max-width: 12rem;
}

.bioText {
    padding: 0 1rem;
    margin: 1rem 0;
    grid-area: bioText;
}

