.bio {
    border: 1px solid black;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "pic links" "text text";
    padding-bottom: 1rem;
}

.bioText {
    padding: 0 1rem;
    margin-top: 1rem;
    grid-area: text;
}

.bioPic {
    grid-area: pic;
    width: 100px;
    height: 105px;
    border-radius: 20px;
    margin: 1rem;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-area: links;
}

.links a {
    color: black;
    padding: 5px;
}